
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: rgba(246, 255, 255, .5)
}
td[data-sort="ASC"],
td[data-sort="DESC"] {
  position: relative;
}

td[data-sort="ASC"]::after {
  position: absolute;
  top: 18px;
  right: 10px;
  content: "";
  width: 15px;
  height: 15px;
  background: url(../public/img/arr-dn.png);
  background-size: contain;
}

td[data-sort="DESC"]::after {
  position: absolute;
  top: 18px;
  right: 10px;
  content: "";
  width: 15px;
  height: 15px;
  background: url(../public/img/arr-up.png);
  background-size: contain;
}

thead td {
  padding-right: 30px;
}
/*
.menu-list {
  display: none;
}

@media screen and (min-width: 1024px) {
  .menu-button:hover > .menu-list {
    display: grid; 
    grid-template-columns: repeat(auto-fill, 120px); 
    grid-gap: 1rem; 
    justify-content: space-evenly; 
    position: absolute;
    top: 37px;
    left: 0px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 10px;
    border: 1px solid black;
    background-color: #20B2AA;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px 0px;
    z-index: 99;
  }
  .main-nav > a:hover, .menu-button:hover {
    background-color: #316363;
  }
  .menu-item:hover {
    text-decoration: underline;
  }
  .menu-close {
    display: none;
  }

}

.menu-open > .menu-list {
  display: grid; 
  grid-template-columns: repeat(auto-fill, 120px); 
  grid-gap: 1rem; 
  justify-content: space-evenly; 
  position: absolute;
  top: 37px;
  left: 0px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px 10px;
  border: 1px solid black;
  background-color: #20B2AA;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px 0px;
  z-index: 99;
}

@media screen and (max-width: 1023px) {
  .menu-close {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}



.menu-item { 
  margin-left: 10px;
  cursor: pointer;
}

.menu-item > a {
  color: #F5FFFA;
  text-decoration: none;
  font-size: 14px;
}

.page {
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
}

.item-section {
  margin-top: 30px;
}

.item-list {
  display: grid; 
  grid-template-columns: repeat(auto-fill, 120px); 
  grid-gap: 1rem; 
  justify-content: space-evenly; 
}

.item-list .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 120px;
  background-color: #E0FFFF;
  border: 3px solid #2F4F4F;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0px;
  margin: 10px;
  cursor: pointer;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
}

.item-list .item:hover {
  background-color: #20B2AA;
  transform: rotate(-1deg);
}

.item-list .item:active {
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 1),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
}

.item .item-name {
  color: black;
  text-decoration: none;
}

.item-image {
  width: 80px;
  background-color: RGBA(255, 255, 255, 0.5);
  border-radius: 50%;
  border: 1px solid #E0FFFF;
}

.item:hover .item-image {
  transform: scale(1.1);
}

.item-name {
  color: #1E5945;
  font-size: 14px;
}

.item:hover .item-name {
  color: #F5FFFA;
}

.main-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 40px;
  background: #20B2AA;
  border: 2px solid #2F4F4F;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 2px rgba(244,249,249,0.67) inset;

}

.main-nav > * {
  font-size: 16px;
  text-decoration: none;
  margin-left: 20px;
  padding: 5px 10px;
  color: #F5FFFA;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .main-nav {
    flex-direction: column;
  }  
  .menu-open > .menu-list {
    top: 70px;
  }
}

.item-content {
  display: grid;
  grid-template-areas: 
  "name name name name"
  "images images images items"
  "characteristic characteristic characteristic abilities"
  "stats stats stats stats";
  grid-gap: 2vw;
}

.item-content > * {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 1023px) {
  .item-content {
    display: grid;
    grid-template-areas: 
    "name name name"
    "images images images"
    "items items items"
    "characteristic characteristic characteristic"
    "abilities abilities abilities"
    "stats stats stats";
  }

  .item-content > * {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

.item-title {
  grid-area: name;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #2F4F4F;
}


.item-abilities {
  grid-area: abilities;
}

.item-images {
  grid-area: images;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px 0;
}

.item-images > img {
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid #2F4F4F;
  background-color: #E0FFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
}

.item-held {
  grid-area: items;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.item-held > p {
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.item-held .item-held-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #E0FFFF;
  border-radius: 15px;
  border: 2px solid #2F4F4F;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
}

.item-height {
  grid-area: height;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-height > .title,
.item-weight > .title,
.item-exp > .title,
.item-abilities > .title,
.item-stat-name {
  text-align: center;
}

.item-height > .value,
.item-weight > .value,
.item-exp > .value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 2px solid  #2F4F4F;
  background-color: #E0FFFF;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
}

.item-stat-value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.item-abilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.item-abilities,
.item-images,
.item-stats,
.item-held,
.item-characteristic,
.item-title {
  border: 2px solid #2F4F4F;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, .2) inset, 3px 4px #989898;
}

.item-abilities > .title {
  width: 100%;
  font-size: 18px;
}

.item-ability {
  min-width: 100px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 15px;
  border: 2px solid  #2F4F4F;
  background-color: #E0FFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;

}

.item-weight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-exp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-stats {
  grid-area: stats;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-characteristic {
  grid-area: characteristic;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
}

.item-stats .title {
  font-size: 18px;
  text-align: center;
  width: 100%;
}

.item-stat-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 12%;
  min-width: 100px;
}

.item-stat-block .column {
  width: 25px;
  border: 1px solid black;
  background-color: #2F4F4F;
}

@media screen and (max-width: 1023px) {
  .item-stats .title {
    text-align: center;
    width: 100%;
  }

  .item-stat-block {
    flex-direction: column;
    width: 33%;
    margin-bottom: 20px;
  }

  .item-images {
    padding: 15px 0;
  }

  .item-abilities .title,
  .item-held > p {
    margin-bottom: 10px;
  }

}
*/
